{% extends "baza_danych.html" %}

{% block body %}

<h2>Poprawianie danych</h2>
<p>Znajdź osobe której dane chcesz zmienić</p>
<p>###UNDER CONSTRUCTION###</p>

<div style="margin: auto; width: 80%;">
    <form method="post">

        <div style="margin: auto; width: 80%; margin-top: 25px;">
            <input type="text" name="user_id" id="user_id" class="form-control" placeholder="Podaj id użytkownika...">
        </div>

        <button type="submit" class="custom-blue" style="width: 60%; margin-top: 35px;">Szukaj</button>

        {% if decision %}
        {% if not osoba %}

        <br>
        <hr style="width:100%;text-align:left;margin-left:0">

        <p>Brak takiej osoby w bazie</p>

        {% endif %}
        {% endif %}

    </form>
</div>




{% endblock %}
