{% extends "baza_danych.html" %}

{% block body %}

<h2>Poprawianie danych</h2>

<div style="margin: auto; width: 80%;">
    <form method="post">

        <br>
        <hr style="width:100%;text-align:left;margin-left:0">

        <p>Znaleziony użytkownik</p>

        <p>Imie: {{imie}}</p>
        <p>Nazwisko: {{nazwisko}}</p>
        <p>Pas: {{pas}}</p>
        <p>Belki: {{belki}}</p>

        <br>

        <div style="margin: auto; width: 80%; margin-top: 25px;">
            <select name="parametr" id="parametr" class="form-select">
                <option selected>Co zmieniamy ?</option>
                <option value="imie">Imie</option>
                <option value="nazwisko">Nazwisko</option>
                <option value="pas">Pas</option>
                <option value="belki">Belki</option>
            </select>
        </div>

        <div style="margin: auto; width: 80%; margin-top: 25px;">
            <input type="text" name="new_data" id="new_data" class="form-control" placeholder="Podaj prawidłowe dane...">
        </div>

        <button type="submit" class="custom-blue" style="width: 60%; margin-top: 35px;">Popraw</button>

    </form>
</div>




{% endblock %}
