{% extends "layout.html" %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3" style="margin: auto; width: 40%;">
    <div class="container-fluid py-2" style="text-align: center;">

        <form method="post">

            <h3> Zostałeś zalogowany do serwera MySQL </h3>

            <br />

            <button type="submit" class="custom-blue" style="margin: auto; width: 40%;">Wyloguj się</button>
        </form>

        {% if dev_tools %}
        <div style="padding-top: 50px">
            <p>
                <a class="btn btn-danger" aria-current="page" href="{{ url_for('dev_tools') }}" style="margin: auto; width: 40%;">Dev Tools</a>
            </p>
        </div>
        {% endif %}

    </div>
</div>



{% endblock %}
