{% extends "layout.html" %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3" style="margin: auto; width: 40%;">
    <div class="container-fluid py-2" style="text-align: center;">

        

            <h3> Zaloguj się do serwera MySQL </h3>

            <br>

            <form method="post">
                <div class="col-lg-6" style="margin: auto;">
                    <input type="text" class="form-control" name="user_name_mysql" id="user_name_mysql" placeholder="Username..." required>
                </div>

                <br>

                <div class="col-lg-6" style="margin: auto;">
                    <input type="password" class="form-control" name="password_mysql" id="password_mysql" placeholder="Password..." required>
                </div>

                <br>

                <div style="margin-top: 15px;">
                    <button type="submit" class="btn btn-primary" style="margin: auto; width: 40%;">Zaloguj się</button>
                </div>
            </form>
            

    </div>
</div>

{% endblock %}
