{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<!--<p>Zaczynamy zabawę</p>-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">


        <!-- Stałe górne menu w zakładce baza danych -->

        <div>
            <div>

                <div class="row">
                    <a class="custom" href="{{url_for('baza_dodaj_osobe')}}" role="button">Dodaj nową osobę</a>
                </div>
                <div class="row">
                    <a class="custom" href="{{url_for('baza_popraw')}}" role="button">Popraw dane osoby</a>
                </div>
                <div class="row">
                    <a class="custom" href="{{url_for('baza_pokaz')}}" role="button">Pokaż wszystkie osoby</a>
                </div>
                <div class="row">
                    <a class="custom" href="{{url_for('baza_usun')}}" role="button">Usuń dane osoby</a>
                </div>
                

                <br><br>

                <!--Tutaj wrzucamy zawartość poszczególnych podstron bazy danych-->
                <!--block content został zmieniony na block body tak samo w "głębszych plikach" żeby nie tworzyć erroru że są dwa block content w jednym pliku-->

                <div class="container body-content">
                    {% block body %}{% endblock %}
                    <hr />
                </div>


            </div>
        </div>


    </div>
</div>



{% endblock %}
