{% extends "layout.html" %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-6 fw-bold">BJJ Club app</h1>
        <p class="col-md-8 fs-4"> Pierwszy projekt aplikacji webowej z wykorzystaniem framework-a Flask, korzystając z technologi: Python, HTML, CSS i JavaScript.</p>
        <p><a href="http://flask.pocoo.org/" class="custom" style="height:40px; width:180px; text-align: center; font-size: 16px;">Dokumentacja Flask</a></p>
    </div>
</div>



<!--Dodać informację o udanym logowaniu (np. modal window)-->

{% if message != "" %}
<div class="custom" style="margin:auto; margin-top: 25px; margin-bottom: 25px;">
    <h3>{{message}}</h3>
</div>
{% endif %}


<div class="row" style="margin-top: 100px;">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-secondary" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-secondary" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-secondary" href="#">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
