{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Opis Projektu</h1>
    <p class="lead">Pierwszy projekt aplikacji webowej z wykorzystaniem framework-a Flask, korzystając z HTML, CSS i JavaScript.</p>

    <h2>Założenia</h2>
    <p>Aplikacja organizaująca prace klubu sportowego zajmującego się Brazylijskim Jiu Jitsu.</p>
    <p>Głównie służąca recepcji czyli obsłudze klienta: sprzedaż karnetów, wydawanie kluczyków, sprawdzanie karnetów</p>
    <p>Dodatkowo zbieranie statystyk dotyczących osób trenujących takich jak: data pierwszego treningu, częstotliwośc treningów, ...</p>
    <br />
    <p>Masz jakiś pomysł jak rozwinąć aplikacje ?  Koniecznie napisz na tomasz.meczkowski@gmail.com</p>
    <!--<p><a href="#" class="btn btn-primary btn-large">Dokumentacja Flask</a></p>-->
</div>

<!--<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>-->

{% endblock %}
