{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Opis Projektu</h1>
    <p class="lead">Pierwszy projekt aplikacji webowej z wykorzystaniem framework-a <b>Flask</b>, wykorzystując technologie:</p>
    <ul>
        <li>Python</li>
        <li>HTML 5</li>
        <li>CSS</li>
        <li>JavaScript</li>
    </ul>
    <br />

    <h2><b>Założenia</b></h2>
    <ul>
        <li>Aplikacja organizująca pracę klubu sportowego</li>
        <li>Obsługa klienta: Sprzedaż oraz weryfikacja karnetów</li>
        <li>Wydawanie kluczyków do szafek</li>
        <li>Zbieranie statystyk o klientach</li>
    </ul>

    <br>

    <h2><b>Aktualne funkcjonalności</b></h2>
    <ul>
        <li>Start projektu: 12.09.2022</li>
        <li>Logowanie do gotowej bazy MySQL: 27.09.2022</li>
        <li>Dodawanie nowych osób do bazy danych: 28.09.2022</li>
    </ul>

    <br>

    <h2><b>Planowane funkcjonalności</b></h2>
    <ul>
        <li><b>Obsługa klienta</b></li>
        <ul>
            <li>Wydawanie kluczyków</li>
            <li>Sprzedaż karnetów</li>
            <li>Sprawdzanie karnetów</li>
            <li>"Id finder"</li>
        </ul>

        <br>

        <li><b>Baza Danych</b></li>
        <ul>
            <li>Inicjowanie bazy danych przy logowania</li>
            <li>Lista osób trenujących</li>
            <li>Poprawianie danych w bazie</li>
            <li>Usuwanie osoby z bazy</li>
        </ul>

        <br>

        <li><b>Statystyki</b></li>
        <ul>
            <li>Wykres aktywności klubu</li>
            <li>Wykresy aktywności użytkowników</li>
            <li>Eksport excela z danymi statystycznymi</li>
        </ul>

        <br>

        <li><b>FrontEnd</b></li>
        <ul>
            <li>Pasek nawigacji z boku do konkretnych rozdziałów tej strony</li>
            <li>Okno modalne mówiące o zalogowaniu i wylogowaniu</li>
            <li>Rozbudować profil użytkownika</li>
        </ul>
    </ul>


    <br />
    <h2><b>Masz jakiś pomysł na rozwinięcie aplikacji ? </b></h2>
    <p>Koniecznie napisz na <b>tomasz.meczkowski@gmail.com</b></p>
</div>


{% endblock %}
