{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<!--<p>Zaczynamy zabawę</p>-->


<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <!-- Stałe boczne menu w zakładce obsługa klienta -->

        <div class="col-md-4">
            <div class="row" style="margin-bottom: 5px;">
                <a class="custom" href="{{url_for('obsluga_wyd')}}" role="button">Wydaj kluczyk</a>
            </div>
            <div class="row" style="margin-bottom: 5px;">
                <a class="custom" href="{{url_for('obsluga_sell')}}" role="button">Sprzedaj karnet</a>
            </div>
            <div class="row" style="margin-bottom: 5px;">
                <a class="custom" href="{{url_for('obsluga_check')}}" role="button">Sprawdź karnet</a>
            </div>
            <div class="row" style="margin-bottom: 5px;">
                <a class="custom" href="{{url_for('obsluga_id_finder')}}" role="button">id finder</a>
            </div>

        </div>
        <div class="col-md-8">
            <!--Treść danej podstrony obsługi klienta-->
            {% block body %}{% endblock %}
        </div>

    </div>
</div>

{% endblock %}
