{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <!-- Stałe boczne menu w zakładce statystyki -->

        <div class="col-md-4">
            <div class="row" style="margin-bottom: 5px;">
                <a class="custom" href="{{url_for('statystyki_klubu')}}" role="button">Aktywność klubu</a>
            </div>
            <div class="row" style="margin-bottom: 5px;">
                <a class="custom" href="{{url_for('statystyki_osob')}}" role="button">Aktywność użytkowników</a>
            </div>
        </div>
        <div class="col-md-8">
            <!--Treść danej podstrony statystyk-->
                {% block body %}{% endblock %}
        </div>

    </div>
</div>

{% endblock %}