{% extends "obsluga_klienta.html" %}

{% block body %}

<h3>Sprzedaż karnetów</h3>
<div style="margin: auto; width: 80%;">
    <form method="post">

        <div style="margin: auto; width: 80%; margin-top: 25px;">
            <input type="text" name="name_selling_ticket" id="name_selling_ticket" class="form-control" placeholder="Imię...">
        </div>

        <div style="margin: auto; width: 80%; margin-top: 25px;">
            <input type="text" name="last_name_selling_ticket" id="last_name_selling_ticket" class="form-control" placeholder="Nazwisko...">
        </div>

        <div style="margin: auto; width: 80%; margin-top: 25px;">
            <select name="karnet" id="karnet" class="form-select">
                <option selected>Karnet</option>
                <option value="Dzieci">Dzieci (4-18 lat) -  150 PLN</option>
                <option value="1">1 wejście - 30 PLN</option>
                <option value="4">4 wejścia - 100 PLN</option>
                <option value="8">8 wejść - 140 PLN</option>
                <option value="15">15 wejść - 160 PLN</option>
                <option value="Open">OPEN - 220 PLN</option>
            </select>

        </div>

        <!-- Przycisk do zatwierdzania  -->
        <button type="submit" class="custom-blue" style="width: 60%; margin-top: 35px;">Sprzedaj</button>
    </form>


    {% if message != "" %}

    <script>
        $(document).ready(function() {
            $("#selling_ticket_toast").toast('show');
        });
    </script>


    <div style="position: absolute; bottom: 20px; right: 20px;">
        <div id="selling_ticket_toast" class="toast" role="status" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
            <div class="toast-header">

                <img src="/static/images/activity.svg" alt="Image not found">

                <strong class="me-auto">BJJ CLUB</strong>
                <small style="padding-right: 20px;">1 min temu</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">

                {% if message == "sold" %}
                <b style="color: green;">Karnet sprzedany</b>
                {% endif %}

                {% if message == "failed" %}
                <b style="color: red;">*Błąd*</b> Nie znaleziono takiej osoby
                {% endif %}

            </div>
        </div>
    </div>

    {% endif %}


</div>

{% endblock %}
