{% extends "obsluga_klienta.html" %}

{% block body %}

<h3>Wydwanie kluczyków</h3>
<div style="margin: auto; width: 80%;">
    <form method="post">

        <div style="margin: auto; width: 80%; margin-top: 25px;">
            <input type="text" name="name" id="name" class="form-control" placeholder="Imię...">
        </div>

        <div style="margin: auto; width: 80%; margin-top: 25px;">
            <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Nazwisko...">
        </div>

        <button type="submit" class="custom-blue" style="width: 60%; margin-top: 35px; font-size: 16px;">Wydaj kluczyk</button>
    </form>
</div>


{% if message %}

<script>
    $(document).ready(function() {
        $("#key_giveaway_toast").toast('show');
    });
</script>


<div style="position: absolute; bottom: 20px; right: 20px;">
    <div id="key_giveaway_toast" class="toast" role="status" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">

            <img src="/static/images/activity.svg" alt="Image not found">

            <strong class="me-auto">BJJ CLUB</strong>
            <small style="padding-right: 20px;">1 min temu</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">

            {% if data == "succes" %}

            <b>Kluczyk został wydany</b>

            {% endif %}

            {% if data == "failed" %}

            <b style="color: red;">*Brak aktywnego karnetu*</b>

            {% endif %}

            {% if data == "missing person" %}

            <b style="color: red;">Nie znaleziono takiego użytkownika</b>

            {% endif %}

        </div>
    </div>
</div>

{% endif %}


{% endblock %}
