{% extends "obsluga_klienta.html" %}

{% block body %}

<p style="text-align: center; font-size: 26px; font-weight: bold;">Znajdź id użytkownika</p>
<form method="post">

    <div style="margin: auto; width: 60%; margin-top: 25px;">
        <input type="text" name="name" id="name" class="form-control" placeholder="Imię...">
    </div>

    <div style="margin: auto; width: 60%; margin-top: 25px;">
        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Nazwisko...">
    </div>

    {% if message[0] %}

    <script>
        $(document).ready(function() {
            $("#exampleModal").modal('show');
        });
    </script>

    <div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Wyniki wyszukiwań</h1>
                    </div>

                    <div class="modal-body">
                        {% if message[1] %}
                        {{message[2]}} {{message[3]}}  <b>id = {{message[4]}}</b>
                        {% endif %}

                        {% if not message[1] %}
                        Nie znaleziono takiej osoby
                        {% endif %}


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="custom-grey" style="width: 100px;" data-bs-dismiss="modal">Zamknij</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% endif %}


    <button type="submit" class="custom-blue" style="width: 150px; font-size: 16px; margin-top: 25px;">Szukaj</button>

</form>



{% endblock %}
