{% extends "obsluga_klienta.html" %}

{% block body %}

<h3>Wydwanie kluczyków</h3>
<div style="margin: auto; width: 80%;">
    <form method="post">

        <div style="margin: auto; width: 80%; margin-top: 25px;">
            <input type="text" name="name" id="name" class="form-control" placeholder="Imię...">
        </div>

        <div style="margin: auto; width: 80%; margin-top: 25px;">
            <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Nazwisko...">
        </div>

        <button type="submit" class="custom-blue" style="width: 60%; margin-top: 35px; font-size: 16px;">Wydaj kluczyk</button>
    </form>
</div>

{% endblock %}
