{% extends "obsluga_klienta.html" %}

{% block body %}

<p style="text-align: center; font-size: 26px; font-weight: bold;">id finder</p>
<form method="post">

    <div style="margin: auto; width: 60%; margin-top: 25px;">
        <input type="text" name="name" id="name" class="form-control" placeholder="Imię...">
    </div>

    <div style="margin: auto; width: 60%; margin-top: 25px;">
        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Nazwisko...">
    </div>



    <div class="container">
        <div class="modal fade" id="mojeModalne">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Wyniki wyszukiwań</h3>

                    </div>
                    <div class="modal-body">
                        <div style="text-align: center;">
                            {% if message[0] %}

                            {% if message[1] %}


                            <p style="margin-top: 15px;">{{message[2]}} {{message[3]}}  id = <b>{{message[4]}}</b></p>
                            {% endif %}


                            {% if not message[1] %}
                            <p style="color: red; margin-top: 15px;">Nie znaleziono takiej osoby</p>
                            {% endif %}

                            {% endif %}

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">zamknij</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Przycisk do zatwierdzania  -->
    <!--<button type="submit" class="btn btn-primary" style="width: 150px;">Szukaj</button>-->  <!--Działa POST-->
    <!--Problemy z uruchomieniem metody POST poprzez jednocznesne wywołanie modala (Modal działa, wywołanie modala działa, brak wywołania metody post)-->
    <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#mojeModalne" value="Szukaj" style="width: 150px; margin-top: 25px;" />


    <!--<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#mojeModalne" style="width: 150px;" formmethod="post">Szukaj</button>-->
</form>

<!--Testowo dodany tekst (Po uruchomieniu modala, usunąc)-->

<div>
    {% if message[0] %}

    {% if message[1] %}


    <p>{{message[2]}} {{message[3]}} </p>
    <p>id: <b>{{message[4]}}</b></p>
    {% endif %}


    {% if not message[1] %}
    <p style="color: red;">Nie znaleziono takiej osoby</p>
    {% endif %}

    {% endif %}
</div>

<br />




{% endblock %}
