{% extends "obsluga_klienta.html" %}

{% block body %}

<p>Sprawdzanie karnetów  ##Under Construction##</p>
<form method="post">

    <div class="form-group">
        <label for="name">Imię:</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Jan...">
    </div>

    <div class="form-group">
        <label for="last_name">Nazwisko:</label>
        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Kowalski...">
    </div>


    <!-- Przycisk do zatwierdzania  -->
    <button type="submit" class="custom-blue" style="margin-top: 25px;">Zatwierdź</button>
</form>

{% endblock %}
