{% extends "statystyki.html" %}

{% block body %}

<h2>Aktywność klubu</h2>

<br>

{% if choice %}
<canvas id="lineChart" , width="200" , height="100">
    <script>
            var ctx = document.getElementById("lineChart").getContext("2d");
            var lineChar = new Chart(ctx,{
                type: "line",
                data: {labels: {{ labels | safe }},
                       datasets: [
                       {label: "Ilość wejść na sale",
                        data: {{ values | safe }},
                        fill: true,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1}]
                       },
                options:
                    {responsive: true,
                    scales: { y: { beginAtZero: true } }}
                });
    </script>
</canvas>
{% endif %}


{% endblock %}
