{% extends "statystyki.html" %}

{% block body %}


<h2>Aktywność użytkowników</h2>


<form method="post">

    <div style="margin: auto; width: 25%; margin-top: 25px;">
        <input type="text" name="name" id="name" class="form-control" placeholder="Imię...">
    </div>

    <div style="margin: auto; width: 25%; margin-top: 25px;">
        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Nazwisko...">
    </div>



    <button type="submit" class="custom-blue" style="width: 150px; font-size: 16px; margin-top: 25px;">Sprawdź</button>
</form>


{% if not choice %}
{% if not missing_person %}

<br>
<h4><b>Brak danych</b></h4>

{% endif %}
{% endif %}


{% if choice %}
{% if missing_person %}

<br>
<h4><b>Brak Takiej osoby w bazie</b></h4>

{% endif %}
{% endif %}


{% if choice %}
{% if not missing_person %}

<br>
<br>

<h4><b>{{imie}} {{nazwisko}}</b></h4>

{% if pas == "Biały" %}
<h5>Aktualny pas: <img src="/static/images/belts/1.{{belki}}.{{pas}}.png" alt="Not found"></h5>
{% endif %}

{% if pas == "Niebieski" %}
<h5>Aktualny pas: <img src="/static/images/belts/2.{{belki}}.{{pas}}.png" alt="Not found"></h5>
{% endif %}

{% if pas == "Purpurowy" %}
<h5>Aktualny pas: <img src="/static/images/belts/3.{{belki}}.{{pas}}.png" alt="Not found"></h5>
{% endif %}

{% if pas == "Brązowy" %}
<h5>Aktualny pas: <img src="/static/images/belts/4.{{belki}}.{{pas}}.png" alt="Not found"></h5>
{% endif %}

{% if pas == "Czarny" %}
<h5>Aktualny pas: <img src="/static/images/belts/5.{{belki}}.{{pas}}.png" alt="Not found"></h5>
{% endif %}


<br>
<h5>Całkowita ilość treningów: {{total}}</h5>



{% for year in years %}

<br>

<canvas id="lineChart-user-{{year}}" , width="200" , height="100">
    <script>
            var ctx = document.getElementById("lineChart-user-{{year}}").getContext("2d");
            var lineChar = new Chart(ctx,{
                type: "line",
                data: { labels: {{ data[year]['Labels'] | safe }} ,
                       datasets: [
                       {label: "Ilość wejść na sale",
                        data: {{ data[year]['Values'] | safe }},
                        fill: true,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1}]
                       },
                options:
                    {responsive: true,
                    scales: { y: { beginAtZero: true } },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Rok: {{year}}',
                            font: { size: 24 }}
                            }
                    }
                });
    </script>
</canvas>

{% endfor %}


{% endif %}
{% endif %}

{% endblock %}
