{% extends "statystyki.html" %}

{% block body %}

<h2>Aktywność klubu</h2>

{% if not choice %}

<p>Brak danych</p>

{% endif %}


{% if choice %}

{% for year in years %}

<br>

<canvas id="lineChart-{{year}}" , width="200" , height="100">
    <script>
            var ctx = document.getElementById("lineChart-{{year}}").getContext("2d");
            var lineChar = new Chart(ctx,{
                type: "line",
                data: { labels: {{ data[year]['Labels'] | safe }} ,
                       datasets: [
                       {label: "Ilość wejść na sale",
                        data: {{ data[year]['Values'] | safe }},
                        fill: true,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1}]
                       },
                options:
                    {responsive: true,
                    scales: { y: { beginAtZero: true } },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Rok: {{year}}',
                            font: { size: 24 }}
                            }
                    }
                });
    </script>
</canvas>

{% endfor %}


{% endif %}



{% endblock %}
